---
:hierarchy:
  # Use private hieradata first,
  # Make ansible-provided variables override others
  - "hieradata/%{::environment}/ansible"
  - "hieradata/%{::environment}/fqdn/%{::fqdn}"
  - "hieradata/%{::environment}/group/%{group}" # no :: because group is set at nodescope
  - "hieradata/%{::environment}/common"
  # Use public hieradata second, also be environmentally aware
  - "%{::environment}/hiera/fqdn/%{::fqdn}"
  - "%{::environment}/hiera/group/%{group}" # no :: because group is set at nodescope
  - "%{::environment}/hiera/users"
  - "%{::environment}/hiera/common"
:backends:
  - json
  - yaml
:json:
  :datadir: "{{ puppet_hiera_datadir }}"
:yaml:
  :datadir: "{{ puppet_hiera_datadir }}"
